@import url(//fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', sans-serif;
}

.bg {
  background: url('../img/bg.jpg') no-repeat center center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
  z-index: -1;
}

.jumbotron {
  height: 250px;
  color: white;
  text-shadow: #222 0 2px 2px;
  background:transparent;
}

.land {
  fill: #e6e6e6;
}

.state-boundary {
  fill: none;
  stroke: #fafafa;
  stroke-linejoin: round;
  stroke-width: 1px;
}

.team circle{
  stroke: none;
}

.team text {
  fill: #444444;
  font: 10px sans-serif;
}

.route {
  fill: none;
  stroke: #FF00FF;
  stroke-width: 3px;
  stroke-linejoin: round;
  opacity: 0.3;
}

#map-area {
  text-align: center;
}

.map-container {
  margin: 10px;
  cursor: pointer;
  display: inline-block
}

.map-container p {
  text-align: center;
  margin: 0.1em;
  font-size: 0.8em;
}

.modal-dialog {
  width: 850px;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  border: none;
}

.modal-title {
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
}

.modal-body {
  text-align: center;
}

.dropdown {
  display: inline-block;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  box-shadow: none;
}

.carousel-control .glyphicon-chevron-left {
  left: 35%;
}

.carousel-control .glyphicon-chevron-right {
  right: 35%;
}

.carousel-control {
  width: 8%;
  color: #e6e6e6;
  opacity: 1;
  text-shadow: none;
}

.carousel-control:hover, .carousel-control:focus {
  color: #888;
  /*background-color: rgba(0, 0, 0, 0.2);*/
}